<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp3350.Group2.areyouhungry">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.add_food.AddNextActivity"
            android:label="Next Step" />
        <activity
            android:name=".ui.on_hand.SearchResultActivity"
            android:label="Search" />
        <activity
            android:name=".ui.on_hand.OnhandActivity"
            android:label="@string/title_activity_onhand" />
        <activity
            android:name=".ui.add_food.AddFoodActivity"
            android:label="@string/title_activity_add_food" />
        <activity
            android:name=".ui.user.UserActivity"
            android:label="Switch User" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.preferred.PreferredSearchActivity"
            android:label="Search result"
            android:parentActivityName=".ui.preferred.PreferredActivity" />
        <activity
            android:name=".ui.preferred.PreferredActivity"
            android:label="Search" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.more.MoreActivity"
            android:label="@string/title_more" />
        <activity
            android:name=".ui.favorites.FavouriteFoodListActivity"
            android:label="@string/title_favouritefood_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.all_food.FoodListActivity"
            android:label="@string/title_food_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.all_food.FoodDetailActivity"
            android:label="@string/title_food_detail"
            android:parentActivityName=".ui.all_food.FoodListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.Group2.areyouhungry.ui.all_food.FoodListActivity" />
        </activity>
    </application>

</manifest>